:root {
  --thin-border: solid 0.5px gainsboro;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.t-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}
.t-board:focus {
  outline: rgb(218, 214, 214);
}

.t-heading {
  width: 100%;
  border-bottom: var(--thin-border);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.t-instructions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--thin-border);
  padding-bottom: 0.5rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.t-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--thin-border);
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}
.t-navigation:last-child:hover {
  cursor: pointer;
  border: solid 1px grey;
  transform: scale(1.1);
}

.t-navigation:last-child:active {
  cursor: pointer;
  border: solid 1px black;
  transform: scale(1.05);
}
.t-navigation:last-child:active img {
  transform: scale(0.97);
}

.t-navigation img {
  align-self: center;
  height: 35px;
  max-width: auto;
  user-select: none;
  pointer-events: none;
}

.t-score-container {
  width: 331px;
  border-bottom: solid 0.5px gainsboro;
  display: flex;
  justify-content: center;
  background-color: white;
  color: rgb(128, 128, 128);
  margin-bottom: 0.5rem;
}

.t-board-display {
  margin: 0;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.041);
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 11px 15px 23px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 15px 23px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 15px 23px -15px rgba(0, 0, 0, 0.75);
  border: solid 0.5px rgb(164, 164, 164);
}

.t-row {
  margin: 0;
  padding: 0;
  display: flex;
}
.t-cell {
  display: inline-block;

  width: 30px;
  height: 30px;
  border: solid 0.2px gainsboro;
}

.t-cell-0 {
  background-color: white;
}

.t-cell-1 {
  background-color: black;
}
